<h2>Products</h2>
Search By:<br />
<input type="radio" name="search_mode" class="search-mode" value="bin" /> Bin<br />
<input type="radio" name="search_mode" class="search-mode" value="product-name" checked="checked" /> Product name<br />
Name Filter <input type="text" name="product_name" id="product-name" value="" /><br />
<div id="products">
	<ul id="products-list">
	
	</ul>
	<div id="paginator" class="paginator"></div>
</div>
<h2>Order</h2>
<div id="orders">
	<ul id="orders-list">
		<li>No orders yet</li>
	</ul>
</div>
<form method="post" id="process-order" action="<?=$this->url(array('action' => 'process-order'));?>">
	<input type="hidden" id="order-json" name="order" value="" />
	<input type="submit" value="Submit order" />
</form>
<div id="product-dialog">
	<table id="product-info" class="normal-table">
		<tr>
			<th>Product Name</th>
			<td id="product-info-name"></td>
		</tr>
		<tr>
			<th>Description</th>
			<td id="product-info-description"></td>
		</tr>
		<tr>
			<th>Bin</th>
			<td id="product-info-bin"></td>
		</tr>
		<tr>
			<th>Available Stock</th>
			<td id="product-info-stock"></td>
		</tr>
	</table>
</div>
<script type="text/javascript" src="<?=$this->baseUrl('js/jquery.simplePagination.js')?>"></script>
<script type="text/javascript">
$(function() {

	$("#product-dialog").dialog({
		autoOpen : false,
		width : 400,
		height : 400,
		modal: true,
		open : function() {
			$(".ui-widget-overlay").click(function() {
				$("#product-dialog").dialog("close");
			});
		}
	});
	
	var currentPage	= 1;
	var currentSearchName	= '';
	var totalItems	= 0;
	var itemsPerPage	= 0;
	var currentMode	= "product-name";

	var productList	= new Array();
	
	function fetchProducts(name, page) {
		$.get("<?=$this->url(array('controller' => 'index', 'action' => 'json-get-products'), false, true)?>/page/" + page + "/mode/" + currentMode + "/name/" + name, function(data) {
			$("#products-list").html("");
			currentPage	= data.currentPage;
			totalItems	= data.totalItems;
			itemsPerPage	= data.itemPerPage;
			
			for(var x in data.items) {
				$("#products-list").append('<li id="product-'+data.items[x].id+'"><a href="" class="show-product">'+data.items[x].name+'</a> - [<a href="" class="add-product">add</a>]</li>');
			}
			
			drawPaginator();
		});
	}
	
	function drawPaginator() {
		$(".paginator").pagination({
			items : totalItems,
			itemsOnPage : itemsPerPage,
			cssStyle : 'light-theme',
			currentPage : currentPage,
			onPageClick : function(pageNumber, event) {
				currentPage	= pageNumber;
				fetchProducts(currentSearchName, currentPage);
				return false;
			}
		});
	}
	
	function addProduct(productId) {
		var alreadyExists	= false;
		for(var x in productList) {
			if(productList[x].id == productId) {
				alreadyExists	= true;
				break;
			}
		}
		if(!alreadyExists) {
			$.get("<?=$this->url(array('action' => 'json-get-product-info'));?>/id/" + productId, function(data) {
				if(data.id) {
					productList.push({
						id : data.id,
						name : data.name,
						available : data.stock_num,
						orderCount : 1
					});
					drawOrders();
				}
			});
		}
		else incrementProduct(productId);
	}
	
	function incrementProduct(productId) {
		for(var x in productList) {
			if(productList[x].id == productId) {
				productList[x].orderCount++;
				break;
			}
		}
		drawOrders();
	}
	
	function decrementProduct(productId) {
		for(var x in productList) {
			if(productList[x].id == productId) {
				if(productList[x].orderCount - 1 == 0) productList.splice(x, 1);
				else productList[x].orderCount--;
				break;
			}
		}
		drawOrders();
	}

	function drawOrders() {
		$("#orders-list").html("");
		for(var x in productList) {
			var thisClass	= productList[x].orderCount > productList[x].available ? ' class="red"':'';
			$("#orders-list").append('<li id="product-'+productList[x].id+'"'+thisClass+'><input type="button" class="decrement" value="-" /><input type="button" class="increment" value="+" /> '+ productList[x].orderCount + ' order(s) of ' +productList[x].name+'</li>');
		}
	}

	fetchProducts(currentSearchName, currentPage);

	$("#products-list").on("click", ".add-product", function() {
		var productId	= $(this).parent().attr("id").replace(/product\-/, "");
		addProduct(productId);
		return false;
	});

	$("#products-list").on("click", ".show-product", function() {
		var productId	= $(this).parent().attr("id").replace(/product\-/, "");
		$.get("<?=$this->url(array('action' => 'json-get-product-info'));?>/id/" + productId, function(data) {
			$("#product-info-name").html(data.name);
			$("#product-info-description").html(data.description);
			$("#product-info-bin").html(data.bin);
			$("#product-info-stock").html(data.stock_num);
			$("#product-dialog").dialog("open");
		});
		return false;
	});

	$("#orders-list").on("click", ".increment", function() {
		var productId	= $(this).parent().attr("id").replace(/product\-/, "");
		incrementProduct(productId);
	});

	$("#orders-list").on("click", ".decrement", function() {
		var productId	= $(this).parent().attr("id").replace(/product\-/, "");
		decrementProduct(productId);
	});

	$("#process-order").submit(function() {
		if(productList.length > 0) {
			$("#order-json").val(JSON.stringify(productList));
			return true;
		}
		else {
			alert("Please select at least one product to order.");
			return false;
		}
	});

	$("#product-name").keyup(function() {
		currentSearchName	= $(this).val();
		fetchProducts(currentSearchName, 1);
	});

	$(".search-mode").click(function() {
		currentMode	= $(this).val();
		$("#product-name").val("");
		currentSearchName	= "";
		fetchProducts(currentSearchName, 1);
	});
});
</script>