<?php
if($this->hasError):
?>
	There is insufficient stock to fill the orders for the following products:<br />
	<ul>
		<?php foreach($this->report['badProducts'] as $product):?>
			<li><?=$product->getName()?> (required: <span style="color: red"><?=$product->getOrderAmount()?></span>, available: <span style="color: blue;"><?=$product->getStockNum()?>)</span></li>
		<?php endforeach;?>
	</ul>
	<a href="<?=$this->url(array('action' => 'index'))?>">Try again</a>
<?php 
else:
?>
	<h1>Pick Sheet</h1>
	<h2>Products</h2>
	<ul>
		<?php foreach($this->products as $product):?>
			<li><?=$product->getName()?> (bin <?=$product->getBin()?>)</li>
		<?php endforeach;?>
	</ul>
	<br />
	<h2>Route</h2>
	<ol>
		<?php foreach($this->route as $point):?>
			<li><?=$point?></li>
		<?php endforeach;?>
	</ol>
<?php 
endif;
?>