@CHARSET "UTF-8";
html { background-color: #CCCCCC; }
body { background-color: #CCCCCC; }

.pointer { cursor: pointer; }
.grey { color: #999999; }
.centered { text-align: center }

#main-container {
	background-color: #FFFFFF;
	min-height: 800px;
	padding: 0px;
}

#header {
	background-color: #333333;
	color: #FFFFFF;
	padding: 20px;
}

#orders-list li.red {
	color: red;
}

.normal-table { border-spacing: 1px; border-collapse: separate; }
.normal-table td, .normal-table th { border: 1px solid; padding: 5px; margin: 1px; }
.normal-table tr:hover { background-color: #FFA500; }