<?=$this->doctype();?>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="<?=$this->baseUrl('css/bootstrap.min.css')?>" />
		<link rel="stylesheet" type="text/css" href="<?=$this->baseUrl('css/ui-lightness/jquery-ui.min.css')?>" />
		<link rel="stylesheet" type="text/css" href="<?=$this->baseUrl('css/simplePagination.css')?>" />
		<link rel="stylesheet" type="text/css" href="<?=$this->baseUrl('css/site.css')?>" />
		<script type="text/javascript" src="<?=$this->baseUrl('js/jquery-2.1.4.min.js')?>"></script>	
		<script type="text/javascript" src="<?=$this->baseUrl('js/jquery-ui.min.js')?>"></script>
		<script type="text/javascript" src="<?=$this->baseUrl('js/common.js')?>"></script>
		<?=$this->headTitle();?>
		<?=$this->headScript();?>
		<?=$this->headLink();?>
	</head>
	<body>
		<div id="main-container" class="container">
			<div id="header" class="container"><h2>Warehouse</h2></div>
			<div id="content" class="container">
				<?php echo $this->layout()->content;?>
			</div>
			<div id="footer">
				
			</div>
		</div>
	</body>
</html>